	.nav{
		padding-bottom: 30px;
		padding-top:30px;
	}
	.nav a{
		color:#333;
		text-decoration: none;
		padding-top: 20px;
		padding-bottom: 20px;
		padding-left: 10px;
		padding-right: 10px;
		font-size: 20px;
		font-family: 'Shift', sans-serif;
		font-weight: bold;
	}
	.container{
		width: 1000px;
		margin: 0 auto;
	}
	.nav .container ul{
		list-style: none;
		margin-left: 0;
		margin-right: 0;
	} 
	.nav .container li{
		float: left;
		padding-left: 50px;
	}
	.jumbotron{
		background:url(bg.jpg) no-repeat left top;
		height:350px;
		width:100%;
	}
	.jumbotron .container{
		position: relative;
		top:50px;
	}
	.jumbotron h1{
		color:white;
		text-shadow:black 1px 2px 5px;
		font-size: 50px;
		font-family: Arial, sans-serif;
		padding-left: 40px;
		padding-top: 40px;
		text-align:center;
	}
	.jumbotron p{
		font-size: 20px;
		font-family: Helvetica,Lucida;
		color:white;
		text-align: center;
	}
	.detail-on-outlined .container{
		height: 180px;
		width: 1000px;
		padding-top: 30px;
		padding-bottom: 20px;

	}
	.My-Javascript,.My-Css,.My-Pictures,.About-Me{
		padding-left: 15px;
		padding-right: 15px;
		width: 220px;
		display: block;
		text-align: center;
		float:left;
	}
	.detail-on-outlined .container h3{
		font-family: Arial, sans-serif;
		font-size: 24px;
	}
	.detail-on-outlined .container p{
		margin: auto 0; 
		line-height: 22px;
		font-family: Helvetica,Lucida;
		font-size: 14px;
	}
	.Start-here{
		background: url(bg_1.jpg) no-repeat top left;
		height: 180px;
		width: 100%;
	}
	
	.Start-here .container h2{
		text-shadow:white 2px 0px 6px;
		font-family: Arial, sans-serif;
		font-size: 60px;
		padding-bottom:20px; 
		padding-top: 60px;
		color:white;
		text-align: center;
	}
	.Start-here .container ul{	
		display: block;
		float: left;
		list-style: none;
		padding-left: 52%;
		font-family: Helvetica,Lucida;
		font-size:18px;
		color:#333333; 
	}
	.Start-here .container li{
		height: 180px;
	}
	li p.title{
		font-size: 16px;
		color: #000000;
		font-family: Helvetica,Lucida;
	}
	li p.content{
		font-size: 16px;
		color: #333333;
		font-family: Helvetica,Lucida;
	}
	li p.more {
		font-size: 12px;
		color: #666666;
		font-family: Helvetica,Lucida;
	}
	.Start-here .img_1{
		padding-top: 93px;
		height: 400px;
		background: url(bg_2.png) repeat-y  center;
	}